* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
* body {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to top, #49c5e8 0%, rgba(255, 255, 255, 0.7254901961) 100%);
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  width: 100%;
}
.Header img {
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
}

.subHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(90, 191, 113, 0.434);
  height: 50px;
  width: 100%;
  font-size: 22px;
}
.subHeader a {
  text-decoration: none;
  color: rgba(246, 0, 0, 0.6);
}

#seccion1 {
  background-color: bisque;
  display: flex;
  align-items: center;
  width: 90%;
  height: 500px;
  border-left: #3A3A3A 2px solid;
  border-right: #3A3A3A 2px solid;
  border-bottom: #3A3A3A 2px solid;
  box-sizing: border-box;
}
#seccion1 div {
  background-color: bisque;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
}
#seccion1 div h2 {
  font-size: 38px;
  padding-bottom: 30px;
}
#seccion1 div p {
  text-align: center;
  width: 50%;
  padding-bottom: 50px;
  font-size: 25px;
}
#seccion1 img {
  height: 85%;
  padding-left: 12%;
}

#tiendadeslizable {
  background-color: bisque;
  height: 530px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: #3A3A3A 2px solid;
  border-right: #3A3A3A 2px solid;
  border-bottom: #3A3A3A 2px solid;
  box-sizing: border-box;
}
#tiendadeslizable .div_titulo {
  text-align: center;
  margin-top: 20px;
}
#tiendadeslizable .div_titulo .div-titulo-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#tiendadeslizable .div_titulo .div-titulo-contenedor #inBusqueda {
  border-radius: 10px;
  padding: 5px;
  border: none;
  height: 40px;
}
#tiendadeslizable .div_titulo .div-titulo-contenedor #inBusqueda:hover {
  border: solid 1px red;
}
#tiendadeslizable .div_titulo .div-titulo-contenedor .div_externo_carrito {
  background-color: white;
  width: 62px;
  height: 62px;
  border-radius: 50px;
  position: relative;
}
#tiendadeslizable .div_titulo .div-titulo-contenedor .div_externo_carrito div {
  position: absolute;
  top: 15px;
  left: 15px;
}
#tiendadeslizable .div_titulo .div-titulo-contenedor .div_externo_carrito div button {
  border: none;
  background-color: white;
  cursor: pointer;
  position: relative;
}
#tiendadeslizable .div_titulo .div-titulo-contenedor .div_externo_carrito div button p {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: red;
  border-radius: 50%;
  left: 23px;
  bottom: 32px;
  color: white;
  font-size: 13px;
}
#tiendadeslizable .div_titulo .div-titulo-contenedor .div_externo_carrito div button .puntitoOculto {
  opacity: 0;
}
#tiendadeslizable nav {
  background-color: bisque;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
  overflow: auto;
}
#tiendadeslizable nav .contenedor-carta {
  width: 250px;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px 10px;
}
#tiendadeslizable nav .contenedor-carta .carta {
  width: 225px;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 20px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px 10px;
}
#tiendadeslizable nav .contenedor-carta .carta img {
  width: 65%;
  border-radius: 15px;
  cursor: pointer;
}
#tiendadeslizable nav .contenedor-carta .carta img:hover {
  box-shadow: #fdfdfd 2px 1px 10px;
  cursor: pointer;
}
#tiendadeslizable nav .contenedor-carta .carta p {
  font-size: 16px;
}
#tiendadeslizable nav .contenedor-carta .carta .botonDeCarta {
  position: relative;
  background-color: black;
  border-radius: 4em;
  border: 2px solid white;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
  padding: 0.5em 1.2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}
#tiendadeslizable nav .contenedor-carta .carta .botonDeCarta:hover {
  transition-duration: 0.1s;
  background-color: #ffffff;
  color: black;
}
#tiendadeslizable nav .contenedor-carta .carta .botonDeCarta:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}
#tiendadeslizable nav .contenedor-carta .carta .botonDeCarta:active {
  top: 1px;
}

.modalAbierto {
  position: fixed;
  width: 350px;
  height: 100%;
  background: #f6f3ff;
  border: #3A3A3A solid 3px;
  left: 0px;
}
.modalAbierto .contenedor_titulo_carrito {
  margin-top: 20px;
  width: 100%;
  height: 25%;
  background-color: rgb(232, 232, 18);
  position: relative;
}
.modalAbierto .titulo_carrito {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  position: absolute;
  top: 35px;
  left: 30px;
  font-size: 1.7rem;
  padding: 0em 0.3em;
}
.modalAbierto #boton_comprar_carrito {
  position: absolute;
  transition-duration: 0.2s;
  bottom: 20px;
  right: 8%;
  padding: 0.45em;
  border-radius: 10px;
  background: black;
  color: white;
  width: 85%;
}
.modalAbierto #boton_comprar_carrito:hover {
  transition-duration: 0.1s;
  border: 2px solid white;
  color: black;
  background-color: rgb(0, 208, 250);
  cursor: pointer;
  font-weight: 700;
}
.modalAbierto #boton_comprar_carrito:active {
  padding: 1px 1px;
}
.modalAbierto #carrito_en_si {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalAbierto .total {
  position: absolute;
  border: #3A3A3A 2px solid;
  border-radius: 10%;
  width: 20%;
  left: 30px;
  bottom: 95px;
  padding: 5px 0.5em 5px 10px;
}

.divCarrito {
  height: 70px;
  border: solid 3px black;
  border-radius: 2px;
  width: 97.75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0px;
  background-color: #cd9cf2;
}
.divCarrito p {
  text-align: center;
  color: white;
}
.divCarrito img {
  height: 90%;
  border-radius: 10%;
}
.divCarrito img:hover {
  box-shadow: #fdfdfd 2px 1px 10px;
  cursor: pointer;
}
.divCarrito button {
  padding: 0.63em 1em;
  border-radius: 50%;
  color: white;
  background: none;
  border: none;
  transition-duration: 1s;
}
.divCarrito button:hover {
  transition-duration: 1s;
  border: solid white 1px;
}
.divCarrito .modalCerrado {
  opacity: 0%;
}

.conteinerconteiner_modalDeImg {
  position: fixed;
  background-color: rgba(205, 156, 242, 0.4509803922);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteinerconteiner_modalDeImg .conteiner_modalDeImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5%;
}
.conteinerconteiner_modalDeImg .conteiner_modalDeImg p {
  font-size: 20px;
  margin-top: 8px;
}
.conteinerconteiner_modalDeImg .conteiner_modalDeImg .containerModal_tituloBoton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.conteinerconteiner_modalDeImg .conteiner_modalDeImg .containerModal_tituloBoton h2 {
  margin: 10px 7%;
}
.conteinerconteiner_modalDeImg .conteiner_modalDeImg .containerModal_tituloBoton .botonCerrarModal {
  cursor: pointer;
  margin: 10px 6%;
}
.conteinerconteiner_modalDeImg .conteiner_modalDeImg .producto {
  width: 90%;
  border-radius: 5%;
  box-shadow: 1px 1px 7px black;
}

.restauraciones {
  background-color: bisque;
  height: 590px;
  width: 90%;
  border: #3A3A3A 2px solid;
  border-top: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.restauraciones .tituloRestauraciones {
  height: 20%;
  display: flex;
  align-items: center;
}
.restauraciones .tituloRestauraciones h2 {
  font-size: 38px;
}
.restauraciones .restauracionesEnSi {
  display: flex;
  height: 100%;
}
.restauraciones .restauracionesEnSi .parrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
}
.restauraciones .restauracionesEnSi .parrafo p {
  font-size: 27px;
  width: 50%;
  margin-bottom: 70px;
}
.restauraciones .restauracionesEnSi .imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restauraciones .restauracionesEnSi .imagen img {
  margin-bottom: 70px;
  height: 80%;
}

.info {
  background-color: aquamarine;
  position: fixed;
  padding: 0.3em 1em;
  border-radius: 10%;
  right: 2%;
  cursor: pointer;
}

.info:hover {
  background-color: whitesmoke;
  color: #cd9cf2;
  border: #f6f3ff 2px solid;
}

::-webkit-scrollbar {
  border: #401660 2px solid;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #3A3A3A;
}/*# sourceMappingURL=cssMueblesDePabloCss.css.map */