*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    body{
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to top, #49c5e8 0%, #ffffffb9 100%);
    }
}

//headers
.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    width: 100%;
    
    img{
        padding-left:10px;
        padding-right:10px;
        height: 60px;
    }
}

.subHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(90, 191, 113, 0.434);
    height: 50px;
    width: 100%;
    font-size: 22px;
    
    a{
        text-decoration: none;
        color: rgba(246, 0, 0, 0.6);
    }
}
//

//secciones
#seccion1{
    background-color:bisque;
    display: flex;
    align-items: center;
    width: 90%;
    height: 500px;
    border-left: #3A3A3A 2px solid;
    border-right: #3A3A3A 2px solid;
    border-bottom: #3A3A3A 2px solid;
    box-sizing: border-box;

    div{
        background-color:bisque;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        border-radius: 15px;

        h2{
            font-size: 38px; 
            padding-bottom: 30px;
         }

        p{
            text-align: center;
            width: 50%;
            padding-bottom: 50px;
            font-size: 25px;
        }
    }

    img{
        height: 85%;
        padding-left: 12%;
    }
}

#tiendadeslizable{
    background-color:bisque;
    height: 530px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: #3A3A3A 2px solid;
    border-right: #3A3A3A 2px solid;
    border-bottom: #3A3A3A 2px solid;
    box-sizing: border-box;

    .div_titulo{
        text-align: center;
        margin-top:20px ;
        .div-titulo-contenedor {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        //inputBusqueda
            #inBusqueda{
                border-radius: 10px;
                padding: 5px;
                border: none;
                height: 40px;
            }
            #inBusqueda:hover{ 
                border: solid 1px red;
            }
            //

            .div_externo_carrito{
                background-color: white;
                width: 62px;
                height: 62px;
                border-radius: 50px;
                position: relative;

                div{
                    position: absolute;
                    top: 15px;
                    left: 15px;

                    button{
                        border: none;
                        background-color: white;
                        cursor: pointer;
                        position: relative;

                        p{
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            background-color: red;
                            border-radius: 50%;
                            left: 23px;
                            bottom: 32px;
                            color: white;
                            font-size: 13px;
                        }

                        .puntitoOculto{
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    //nav tienda deslizable
    nav{
        background-color: bisque;
        display: flex;
        align-items: center;
        width: 100%;
        height: 90%;
        overflow: auto;
    
        .contenedor-carta{
            width: 15rem;
            height: 90%;
            background-color: rgba(0, 0, 0, 0.63);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 10px 10px;  

            .carta{
                width: 14rem;
                height: 23rem;
                background-color: rgba(0, 0, 0, 0.63);
                border-radius: 20px;
                color: white;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                margin: 10px 10px;
                
                img{
                    width: 65%;
                    border-radius:15px ;
                    cursor:pointer;
                }
                img:hover{
                    box-shadow: #fdfdfd 2px 1px 10px;
                    cursor: pointer;
                }

                p{
                    font-size: 16px
                }

                .botonDeCarta{
                    position: relative;
                    background-color: black;
                    border-radius: 4em;
                    border: 2px solid white;
                    box-sizing: border-box;
                    font-size: 16px;
                    color: white;
                    padding: 0.5em 1.2em;
                    cursor:pointer;
                    user-select:none;
                    text-align: center;
                    text-decoration: none;
                    transition-duration: 0.4s;
                    -webkit-transition-duration: 0.4s; /* Safari */
                }
                    .botonDeCarta:hover {
                    transition-duration: 0.1s;
                    background-color: #ffffff;
                    color: black;
                }
                    .botonDeCarta:after {
                    content: "";
                    display: block;
                    position: absolute;
                    border-radius: 4em;
                    left: 0;
                    top:0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: all 0.5s;
                    box-shadow: 0 0 10px 40px white;
                }
                    .botonDeCarta:active {
                    top: 1px;
                }
            }
        }
    }
}

.modalAbierto{
    position: fixed;
    width: 350px;
    height: 100%;
    background:#f6f3ff;
    border: #3A3A3A solid 3px;
    left: 0px;

    .contenedor_titulo_carrito{
        margin-top:20px;
        width: 100%;
        height: 25%;
        background-color: rgb(232, 232, 18);
        position:relative
    }

    .titulo_carrito{
        background-color: white;
        border-radius: 10px;
        margin: auto;
        position: absolute;
        top: 35px;
        left:30px;
        font-size: 1.7rem;
        padding: 0em 0.3em;
    }

    #boton_comprar_carrito{
        position: absolute;
        transition-duration: 0.2s;
        bottom: 20px;
        right: 8%;
        padding: 0.45em;
        border-radius: 10px;
        background: black;
        color: white;
        width: 85%;
    }
    #boton_comprar_carrito:hover{
        transition-duration: 0.1s;
        border: 2px solid white;
        color: black;
        background-color: rgb(0, 208, 250);
        cursor:pointer;
        font-weight: 700;
    }
    #boton_comprar_carrito:active{
        padding: 1px 1px ;
    }
    #carrito_en_si{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .total{
        position: absolute;
        border: #3A3A3A 2px solid;
        border-radius: 10%;
        left: 30px;
        bottom:95px;
        padding: 5px 0.5em 5px 10px;
    }
    .salirCarrito{
        position: absolute;
        top: 40px;
        right: 30px;
        cursor: pointer;
        background-color: white;
        border-radius: 50%;
    }
    .salirCarrito:hover{
        transition: ease 0.35s;
        background-color: rgb(192, 72, 72);
    }
}

//items del modal
.divCarrito{
    height: 70px;
    border: solid 3px black;
    border-radius: 2px;
    width: 97.75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0px;
    background-color: #cd9cf2;

    p{
        text-align: center;
        color:white;  
    }
    img{
        height: 90%;
        border-radius: 10%;
    }
    img:hover{
        box-shadow: #fdfdfd 2px 1px 10px;
        cursor: pointer;
    }
    button{
        padding: 0.63em 1em;
        border-radius: 50%;
        color: white;
        background:none;
        border: none;
        transition-duration: 1s;
    }
    button:hover{
        transition-duration: 1s;
        border:solid white 1px;
    }
    .modalCerrado{
        opacity: 0%;
    }
}
//

//modal de imgs
.conteinerconteiner_modalDeImg{
    position: fixed;
    background-color: #cd9cf273;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .conteiner_modalDeImg{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius:5%;

        p{
            font-size: 20px;
            margin-top: 8px;
        }

        .containerModal_tituloBoton{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            h2{
                margin: 10px 7%;
            }
            .botonCerrarModal{
                cursor: pointer;
                margin: 10px 6%;
            }
        }
        .producto{
            width: 90%;
            border-radius: 5%;
            box-shadow: 1px 1px 7px black;
        }
    }
}

.restauraciones{
    background-color: bisque;
    height: 590px;
    width: 90%;
    border: #3A3A3A 2px solid;
    border-top: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
    .tituloRestauraciones{
        height: 20%;
        display: flex;
        align-items: center;
        h2{
            font-size: 38px;
        }
    }
    .restauracionesEnSi{
        display: flex;
        height: 100%;
        .parrafo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 60%;
            p{
                font-size: 27px;
                width: 50%;
                margin-bottom: 70px;
            }
        }
        .imagen{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                margin-bottom: 70px;
                height: 80%;
            }
        }
    }
}
//
//toastify
.info{
    background-color: aquamarine;
    position: fixed;
    padding: 0.3em 1em;
    border-radius: 10%;
    right:2%;
    cursor:pointer
}
.info:hover{
    background-color:whitesmoke ;
    color: #cd9cf2;
    border: #f6f3ff 2px solid;
}
//barra
::-webkit-scrollbar{
    border: #401660 2px solid;
    background-color:white;
}
::-webkit-scrollbar-thumb{
    background-color:#3A3A3A;}

.ModalError{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.557) ;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .error{
        height: 50%;
        border: white 3px solid;
        padding: 0px 2em;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        font-size: 24px;
    }
}

.ubi{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: 90%;
    border: #3A3A3A 2px solid;
    border-top: 0px;
    box-sizing: border-box;
    align-items: center;
    .conteinerMaps{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .msgUbi{
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .conteinerTxt_Maps{
        border-radius: 25px;
        padding: 2em;
        background-color: rgb(255, 197, 126);
        border: none;
        margin-top: 50px;
        margin-bottom: 20px;
        width: 35%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p{
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            span{
                font-size: 22px;
                font-weight: 800;
            }
            b{
                font-weight: 600;
                text-decoration:underline black;
            }
        }
    }
    .conteinerTxt_Maps:hover{
        border: 2px solid black;
        background-color: rgb(255, 155, 34);
    }
} 
footer{
    width: 100%;
    background-color:#3A3A3A;
    height: 300px;
    color: white;
    display: flex;
    .redes{
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        width: 50%;
        border-right:#3A3A3A 2px solid  ;
        justify-content: center;
        align-items: center;
        a{
            margin: 20px 0px;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            color: black;
            font-size: 22px;

        }
    }
    .contactanos{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            font-size: 45px;
            font-weight: 800;
        }
    }
}

.maps{
    border-radius: 20px;
}
